/* JSFormValidation.css */
.required {  /* Marker for required fields */
    color: red;
 }
  
 .errorMsg {  /* for error messages */
    color: red;
 }
  
 .errorBox {  /* for the error input text fields */
    border: 2px solid red;
 }
  
 table {
    border: 0;
 }
  
 td {
    margin: 5px;
    padding: 3px 10px;
 }
 #formTest{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
     border: 2px solid black;
     padding: 10px

     
 }
 h2{
     text-align: center
 }

 /* tr{
     margin: 10px
 } */