@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
  margin: 0; }

.content {
  max-width: 100%;
  margin: 2px;
  padding-left: 1rem;
  display: flex; }
  .content .right {
    width: 13%;
    background: #ffffff;
    border-left: 2px solid gray;
    margin-left: 0.625rem;
    text-align: center;
    height: 85vh;
    overflow: scroll; }
    .content .right > h1 {
      font-size: 20px;
      text-align: center; }
    .content .right button {
      border-radius: 5px;
      cursor: pointer;
      padding: 0;
      margin: 5px; }
      .content .right button:hover, .content .right button:focus, .content .right button:active {
        border: 3px solid  blue;
        outline: none; }
    .content .right img {
      width: 100%; }
  .content .left {
    width: 87%;
    background: #ffffff;
    height: 85vh;
    margin-left: -10px; }
    .content .left input {
      background: gray;
      color: gray;
      margin: 5px;
      padding-left: 10px;
      width: 110px; }
      .content .left input:hover {
        background: #ffffff;
        color: #ffffff; }
    .content .left #preview {
      position: relative; }
      .content .left #preview .countResidual {
        position: absolute;
        font-size: 40px;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5; }
      .content .left #preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer; }

#allImg {
  height: 120px;
  background: #333333;
  padding: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden; }
  #allImg .imageDiv {
    height: 100%;
    margin: 8px; }
  #allImg img {
    width: auto;
    height: 110px; }
  #allImg .noimg {
    color: white;
    font-size: 2rem;
    line-height: 100%; }

#contentSmall img {
  width: 100%;
  height: 100%;
  object-fit: cover; }
#contentSmall .twoImgSmall {
  padding: 0;
  width: 140px;
  height: 120px;
  margin: auto auto 15px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  #contentSmall .twoImgSmall .item1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 13;
    background: #dcdcdc; }
  #contentSmall .twoImgSmall .item2 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    background: #dcdcdc;
    position: relative; }
#contentSmall .threeImgSmall {
  padding: 0;
  width: 140px;
  height: 120px;
  margin: auto auto 15px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  #contentSmall .threeImgSmall img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #contentSmall .threeImgSmall .item1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc; }
  #contentSmall .threeImgSmall .item2 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc;
    position: relative; }
  #contentSmall .threeImgSmall .threeImgUp {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 8;
    background: #dcdcdc; }
#contentSmall .fourImgSmall {
  width: 140px;
  height: 120px;
  margin: auto auto 15px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  #contentSmall .fourImgSmall .fourImgLeft {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 13;
    background: #dcdcdc; }
  #contentSmall .fourImgSmall .item1 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    background: #dcdcdc; }
  #contentSmall .fourImgSmall .item2 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 9;
    background: #dcdcdc; }
  #contentSmall .fourImgSmall .item3 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 13;
    background: #dcdcdc;
    position: relative; }
#contentSmall .fivImgSmall {
  padding: 0;
  width: 140px;
  height: 120px;
  margin: auto auto 15px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  #contentSmall .fivImgSmall .item1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
    background: #dcdcdc; }
  #contentSmall .fivImgSmall .item2 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 8;
    background: #dcdcdc; }
  #contentSmall .fivImgSmall .item3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc; }
  #contentSmall .fivImgSmall .item4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc; }
  #contentSmall .fivImgSmall .item5 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc;
    position: relative; }
#contentSmall hr {
  opacity: 0.5; }
#contentSmall .countResidual {
  position: absolute;
  font-size: 14px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5; }

.twoImgSmall, .threeImgSmall, .fourImgSmall, .fivImgSmall {
  cursor: pointer; }

.active {
  outline: 3px solid blue; }

.twoImg {
  padding: 0;
  width: 600px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .twoImg .item1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 13;
    background: #dcdcdc; }
  .twoImg .item2 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    background: #dcdcdc;
    position: relative; }

.threeImg {
  padding: 0;
  width: 600px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .threeImg .item1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc; }
  .threeImg .item2 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc;
    position: relative; }
  .threeImg .threeImgUp {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 8;
    background: #dcdcdc; }

.fourImg {
  width: 700px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .fourImg .fourImgLeft {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 13;
    background: #dcdcdc; }
  .fourImg .item1 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    background: #dcdcdc; }
  .fourImg .item2 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 9;
    background: #dcdcdc; }
  .fourImg .item3 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 13;
    background: #dcdcdc;
    position: relative; }

.fivImg {
  padding: 0;
  height: 500px;
  width: 700px;
  margin: auto;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .fivImg .item1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
    background: #dcdcdc; }
  .fivImg .item2 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 8;
    background: #dcdcdc; }
  .fivImg .item3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc; }
  .fivImg .item4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc; }
  .fivImg .item5 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 13;
    background: #dcdcdc;
    position: relative; }

.defulalt {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center; }

.lastImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2; }

.modal {
  z-index: 9;
  display: none;
  padding-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal .close {
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: white; }
  .modal .modal-content {
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.modal-hover-opacity {
  opacity: 1;
  transition: 1s; }

.modal-hover-opacity:hover {
  opacity: 0.80; }

@media (max-width: 1024px) {
  .content .left {
    height: 85vh; }
 

  #contentSmall .twoImgSmall, #contentSmall .threeImgSmall, #contentSmall .fourImgSmall, #contentSmall .fivImgSmall {
    height: 90px;
    width: 90px; } }
@media (max-width: 876px) {
  .right button > img {
    max-width: 70px; } }
@media (max-aspect-ratio: 1 / 1) and (max-width: 576px) {
  .content {
    margin: 0rem;
    padding: 0rem;
    flex-direction: column; }
    .content .right {
      margin: 0rem;
      width: 100%;
      height: 10vh;
      padding-top: 5px;
      padding-bottom: 8px;
      border-left: 0px; }
      .content .right button > img {
        max-width: 50px; }
      .content .right h1, .content .right hr, .content .right br {
        display: none; }
      .content .right button {
        width: 16%; }
    .content .left {
      margin: 0rem;
      height: 70vh;
      width: 100%; }
      .content .left #preview {
        flex-direction: row; }
        .content .left #preview > img {
          width: 100%;
          max-height: none;
          height: auto; }
        .content .left #preview .countResidual {
          font-size: 20px;
          z-index: 5; }

  .twoImg, .threeImg, .fourImg, .fivImg {
    height: 350px;
    width: 310px; }

  #contentSmall {
    display: flex; }
    #contentSmall .twoImgSmall, #contentSmall .threeImgSmall, #contentSmall .fourImgSmall, #contentSmall .fivImgSmall {
      height: 65px;
      width: 65px; }
    #contentSmall hr {
      display: none; } }

/*# sourceMappingURL=style%20copy.css.map */
