*{
    margin: 0;
    padding: 0;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
    background : lightblue;
    border: none;
    box-shadow: 2px 0 0 2px lightcyan;
    border-radius:  2px
}
#textview{
    width: 220px;
    margin: 8px;
    font-size: 40px;
    padding: 15px;
    border: none;
    color: #607d8b;
    text-align: right
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: black;
    box-shadow: 0 0 20px 0 rgb(34, 23, 23);
}
body{  
    background: lemonchiffon
}
