*{ box-sizing: border-box
    padding :0;
    margin:0
}

body {
    margin:auto;
    width:90%
}
h1{
    text-align:center;
    padding:10px
}
p{
    padding:5px;
    text-align: justify;
    text-indent: 30px;
}
