.banner {
    height :40vh;
    background-image: url('./../Image/biadubi2.jpg') ;
    background-repeat :no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.banner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40VH;
    background: rgba(0,0,0,0.3  );
    z-index: 5;
}
.bannerphongthuy {
    height :40vh;
    background-image: url('./../Image/biadubi.jpg') ;
    background-repeat :no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.bannerduan::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40VH;
    background: rgba(0,0,0,0.3  );
    z-index: 5;
}
.bannerduan {
    height :40vh;
    background-image: url('./../Image/bia5.jpg') ;
    background-repeat :no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.bannerduan::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40VH;
    background: rgba(0,0,0,0.3  );
    z-index: 5;
}
.bannerAbout {
    height :80vh;
    background-image: url('./../Image/Home/CHUNGTOI2.jpg') ;
    background-repeat :no-repeat;
    background-position:center;
    background-size: cover;
    /* background-attachment: fixed; */
    position: relative;
}



header .menu {
  background: white
    /* border-bottom: 2px solid #333333; */
}
.menu.fix {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background:white;
    top:0;
    box-shadow:  0px 2px 2px 2px #DCDCDC;  
    height: 60px;
    padding: 5px 5px 5px;
}
body{
    background: #f8f8f8f8
}
.content .left {
    border: 1px solid lightgrey;
    /* height: 800px; */

}
.product {
    background:white;
    transform: translateY(-25px);
    position: relative;
    margin: auto;
    width: 95%;
    z-index: 7;
}
.product-group.active, .sub-group.active {
    background: #e7e7e7;
    margin-top: 5px;
    outline: none
}
 .title {
    height: 70px; 
    border: 1px solid lightgrey;
    margin-bottom: 20PX
}
         /* san pham ban chạy */

.card-body {
    padding: 0
}
 .card{
    border-radius: 0;
    transition: 1s;
}
 .card:hover{
    box-shadow:  0px 0px 5px 1px grey;
    transform: translateY(5px)
}
 .nav-tabs {
    border-bottom: none
}
.container >span{
    color: #630005;
    font-size: 20px
}
 .sale:hover {
    background: #c7ecee;  
}
 .sale{
    font-size: 12px;
    background: none;
    color: #333333;
    width: 75px;
    height: 25px;
    padding: 2px;
    box-shadow: 0px 0px 2px 1px grey;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px
}

 .price{
    background: darkgrey;
    color: black
}
 .imgFather{
    overflow: hidden
}
 .imgFather img{
    transition: 2s;
    cursor: pointer;
}
 .imgFather:hover img{
    transform: scale(1.1)
}
  a {
    color: #333333
}


 h4 {
    /* color: #336699; */
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    position: relative;
}
h5 {
    font-size: 14px;
    padding-top: 5px 
}
li {
    list-style: none;
}
.product-group, .sub-group {
    width: 100%;
    text-align: left;
    transition: all 0.4s ease;
}
.product-group,.sub-group {
    padding: 0 15px;
    background: transparent;
    border: none;
}
.nav-title h4::before{
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #333333
/* transition: 3s */
}

  .navbar-form {
    display: flex;
    align-items: center;
    border-top: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 5px
    
}

/* // trang chi tiết */

.slick-slide img {
    display: inline!important;
    cursor: pointer;
}
.single-price {
    color: #336699;
    font-size: 20px;
    margin: 0;
}
.description {
    border-top: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
    padding: 30px 0;
    margin: 20px 0;
}
 form.cart {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
 .product-category {
    margin-top: 20px;
    padding: 30px 0;
    border-top: solid 1px #e7e7e7;
    /* text-transform: uppercase; */
    font-size: 16px;
}
.quantity {
    font-weight: 600;
    margin-right: 30px;
    margin-left: 10px;
    /* border: 1px solid #eeeeee; */
    font-size: 16px;
    width: 150px;
   
}

.single-product .cart>.quantity input {
    width: 30px;
    text-align: center;
    border: 0;
}
.content  {
    background: #fff;
    padding: 15px;
    clear: both;
    margin-bottom: 30px;
    margin-top: 5px
}
.comment-form {
    padding: 20px
}
.respond-wrap input[type="text"], .comment-form textarea {
    border: 1px solid #e7e7e7;
    background: #f8f8f8;
    color: #666666;
    margin-bottom: 10px;
    padding: 10px 5px;
    line-height: 22px;
    font-size: 16px;
    width: 95%;
}
.comment-form textarea{
    width: 97.5%;
}
.form-submit,.add-to-cart  {
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background: #26A69A;
    color: #fff;  
    padding: 5px 5px
}




/* //// gio hang */
@media (min-width: 1400px){
.container {
    max-width: 1640px;
}}
.cart-container {
    background: #ffffff;
    padding: 40px 30px;
    margin: 40px 0;
    border: 1px solid #e7e7e7;
}

.cart-container table.cart th.product-thumbnail {
    padding-left: 30px;

}
.cart-container table.cart .product-thumbnail {
    width: 20%;
    padding-left: 20px;
    /* padding-left: 20px; */
}
.cart-container table.cart .product-name, .cart-container table.cart .product-quantity {
    width: 22%;
    /* padding-left: 20px; */
}
.cart-container table.cart .product-price, .cart-container table.cart .product-subtotal {
    width: 20%;
    /* padding-left: 20px;
} */}
.quantity >input ,  .quantity >button  {
    width: 30px;
    text-align: center
}
.product-remove button {
    background: none;
    border: 0;
    outline: none;
}
.cart-container table.cart img {
    width: 85px;
    height: auto;
    border: 1px solid #e7e7e7;
}

.cart-container table.cart th {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 0;
    color: #ffffff;
    background: #333333
    
}
.cart-container table.cart td {
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.cart-coupon {
    margin-bottom: 40px;
}
.cart-coupon, .cart-total, .payment-tabs {
    background: #fff;
    padding: 30px;
    border: 1px solid #e7e7e7;
    margin: 40px 0;
}
.cart-coupon input {
    color: #777;
    border: 1px solid #ccc;
    height: 40px;
    display: block;
    width: 80%;
    padding: 0 15px;
    margin: 25px 0 10px;
    font-size: 16px;
}
.titlePrice {
    font-size: 20px
}
.cart-total > table th {
    width: 80%;
    font-size: 16px;
    padding: 6px;
}
.cart-total > table .order-total .amount {
    font-weight: 700;
    font-size: 22px;
    color: #630005;
}
.btn-info {
    color: #fff;
    background: #26A69A;
    border-color: #26A69A;
    padding: 5px 5px;
    border: 5px
}
@media (max-width: 420px){
    .cart-container {
        padding: 5px 5px;
        margin: 20px 0;
    }
    .actions {
        display: none;
    }
    .cart-container table.cart th {
        padding: 20px 0;
        font-size: 10px;
        text-align: center
    }
    .cart-coupon,.cart-total {
        font-size: 12px
    }
    .cart-container table.cart th.product-thumbnail {
        padding-left: 10px;
    }
    .cart-container table.cart td.product-price {
        transform: translate(-5px,-15px);
    }
    .cart-container table.cart td.product-name {
        width: 90px;
    }
    .cart-container table.cart .product-thumbnail {
        width: 80px;
        font-size: 12px
    }
    .cart-container table.cart .product-price,.cart-container table.cart .product-name {
        display: none;
    }
    /* .cart-container table.cart td {
        padding: 20px 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    } */
    .quantity {
        font-weight: 600;
        margin: 0px 5px 0 15px;
        font-size: 12px;
        width: 150px;
    }
}

/* // dat hang */
.payment-main {
    width: 70%;
    margin: auto;
    margin-top: 60px
}
.payment-tabs {
    margin-top: 50px;
    margin-bottom: 50px
}
.payment-main input {
    margin-bottom: 10px
}
.form-control {
    margin-top: 10px
}
/* duan */
.card-img-top.one,.card-img-top.two,.card-img-top.three,.card-img-top.four {
    opacity: 0;
}



/* // phong thuy */

@media (max-width: 786px){
    .banner {
        z-index: -1;
        background-attachment: inherit
    }}

/* // chungtoi */
.containerAbout{
    width: 90%;
    margin: auto;
    background: white;
    /* height: 1000px; */
}
.titleAbout {
    margin: 30px 0 30px 0;
    padding-top: 30px;
}
.contentAbout {
    width: 60%;
    text-align: justify;
    margin: auto
}
.aboutItem {
    position: relative;
}
.aboutItem::after {
    content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0%;
    background:#333333;
    z-index: 5  ;
    transition: 2s;
    overflow: hidden;
}
.aboutItem img{
cursor: pointer;
margin: 10px;
margin: auto
}

@media (max-width: 576px){
    .content {
        background: #fff;
        padding: 10px;
        clear: both;
        margin-bottom: 10px;
        
    }
    .info {
        padding: 15px
    }
    .contentAbout {
        width: 90%;
    }
    .payment-main {
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }
    .respond-wrap input[type="text"], .comment-form textarea {

        width:90%;
    }
    .cart-coupon,.cart-total {
        padding: 10px;

    }
}


